body {
  margin: 0;
  padding: 0;
}

.headerText {
  font-size: 3em;
  text-align: center;
  margin: .5em 0;
}

.nav {
  text-align: center;
}

.nav li {
  display: inline;
  padding: 0 .4em;
}

.nav a {
  display: inline-block;
}

.videos {
  display: block;
  margin-top: 3em;
}

.videos iframe {
  display: block;
  margin: auto auto;
  padding: 1em 0;
}